.ServiciosOverlay{
    display: flex;
    width: 848px;
    height: 412px;
    padding: 32px;
    align-items: flex-start;
    gap: 32px;
    border-radius: 20px;
    background: #FFF;

    /* Card shadows */
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.025);
}

.SOImg{
    width: 408px;
    height: 412px;
    flex-shrink: 0;

    border-radius: 20px;

}

.SOContInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 0;
}

.SOContNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.SOTitle{
    color: var(--Rosa-AA-con-blanco, #D77577);
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.SOText{
    color: var(--gris-claro-aaa-sobre-blanco, #595959);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}